body {
    background-color: rgb(252, 240, 222);
    font-family: "Prompt", sans-serif;
    text-align: center;
}

.indexh1 {
    text-align: center;
    border: 4px dotted;
    border-color: rgba(112, 74, 16, 0.637);
    padding: 10px;
    width: 250px;
    margin: 32px auto;
}

.wraph1 {
    text-align: center;
    border: 4px dotted;
    border-color: rgba(112, 74, 16, 0.637);
    padding: 10px;
    width: 320px;
    margin: 32px auto;
}

.souph1 {
    text-align: center;
    border: 4px dotted;
    border-color: rgba(112, 74, 16, 0.637);
    padding: 10px;
    width: 320px;
    margin: 32px auto;
}

h1, h2, h3 {
    color: rgba(112, 74, 16, 0.637);
}

img {
    border-radius: 50%;
}

.resize {
    width: 400px;
    height: auto;
}
